**/node_modules
**/build
**/*.zkey
**/*.ptau
**/*.json
**/*.wtns
**/*.sol
**/*.sym
**/*.r1cs
**/*.wasm

**/yarn-error.log
**/yarn.lock
**/package-lock.json

**/generate_witness.js
**/witness_calculator.js
