*/*.ptau
*/*.sym
*/*.r1cs
*/*.wasm
*/*.zkey
*/*.wtns
*/verifier.sol
*/proof.json
*/verification_key.json
build


mixer/node_modules/
mixer/build/
mixer/circuits/*.zkey
mixer/circuits/*.ptau
mixer/circuits/*.json
mixer/circuits/*.wtns
mixer/circuits/*.sol
mixer/yarn-error.log
mixer/yarn.lock
mixer/package-lock.json
